html{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
*{
    margin: 0;
}
body{
    margin-left: 40px;
    margin-right: 40px;
    line-height: 15px; 
    background-color: white;
}
*+*:not(dt):not(dd):not(dl):not(article div):not(article section):not(article):not(textarea):not(select):not(h1):not(input):not(.flexVertical):not(nav a):not(nav button):not(.button>input):not(.button):not(img):not(.titre):not(li){
    margin-bottom: 40px;
}
.grille{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(238, 236, 236);
    padding: 40px 30px 40px 30px;
    border-radius: 10px;
    max-width: 100%;
}
.flexVertical{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 10px;
    max-width: 100%;
}
.table, .flexHorizontal{
    border-radius: 10px;
    background-color: white;
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
table, .table{
    margin-left: auto;
    margin-right: auto;
}
table, td, th{
    border-collapse: collapse;
    background-color: white;
}
td, th{
    border: 1px solid darkblue;
    padding: 20px;
    max-width: 400px;
}
.proprietaire tr>td:not(:last-child),
.animal tr>td:not(:last-child),
.rendez-vous tr>td:not(:last-child){
    width: 10vw;
}
.proprietaire tr>td:not(:first-child),
.animal tr>td:not(:first-child),
.rendez-vous tr>td:not(:first-child){
    width: 40vw;
}
.flexHorizontal img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

/*-----------Typo------------*/

h1, h2{
    text-align: center;
}

h1{
    font-size: 10rem;
    margin-block-end: 0;
}
h2{
    font-size: 2rem;
    color: navy;
}
h3{
    margin-block-end: 0;
}
h1.petit-titre{
    font-size: 7rem;
}

/*------ Navigation -------*/
nav {
    display: flex;
    justify-content: space-between;
}
.navigation :not(first-child){
    margin-top: 30px;
    margin-bottom: 40px;
}
.navigation :first-child{
    margin-top: 2px;
    margin-bottom: 0px;
}
.logo>img{
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    margin-left: -10px;
}
nav>a:not(.logo),
nav button,
.dropdown-content a {
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid navy;
    color: navy;
    padding : 15px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}
nav>a,
nav button{
    border-top: 2px solid navy;
}

nav a:hover:not(.logo),
nav button:hover {
    border-bottom: 2px solid grey;
    color: black;
}
nav a:hover:not(.logo):not(.dropdown-content a:hover){
    border-top: 2px solid grey;
}
button{
    border: none;
    background-color: white;
    cursor: pointer;
    line-height: 15px;
}

input{
    width: max-content;
}
input[type="submit"]{
    align-items: stretch;
    border: 1px solid darkblue;
    color: darkblue;
    background-color: white;
    padding: 10px 13px;
    cursor: pointer;
    border-radius: 3px;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    margin-left: 0;
    width: 80px;
}
input[type="submit"]:hover{
    padding: 10px 16px;
    box-shadow: 0 0 8px aqua;
	border: 1px solid aqua;
    border-radius: 2px;
    outline: 2px solid #0000ff;
}
.thead{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
    margin-bottom: 20px;
}

/*------- En-tête -----------*/

.entete-principal {
	flex: 100% 0 0;
	min-height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	overflow: hidden;
    border-radius: 10px;
}

.entete-principal>img {
	position: absolute;
	z-index: -1;
	opacity: 1;
    filter: saturate(50%);
}

.entete-principal>img+h1,
.entete-principal>img+h1+h2 {
	color: white;
    line-height: 1em;
}

.entete-principal {
	background-color: rgba(0, 13, 98, 0.6);
	font-weight: 300;
	font-size: 32px;
	text-align: center;
}

/*------- Form ------*/

label{ 
    display: block;
    margin: 5px;
}

.form-style-1 { 
    margin-left: auto;
    margin-right: auto;
	max-width: 500px;
	padding: 20px; 
	font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border-radius: 10px;
    border: 2px solid darkblue;
}

.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 5px 0 0 0; 
}

.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=tel],
.form-style-1 input[type=email],
.form-style-1 input[type=password],
.form-style-1 input[type=date],
.form-style-1 input[type=number],
.form-style-1 select{
	box-sizing: border-box;
    border-radius: 2px; 
	border:1px solid silver;
	padding: 10px; 
	margin:0px;
}
.form-style-1 input[type = date]{
    font-family: inherit;
    height: 37px;
}
.form-colonne-droite{
    margin-left: 200px;
}

.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=tel]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 input[type=password]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 textarea:focus{
	box-shadow: 0 0 8px aqua;
	border: 1px solid aqua;
    border-radius: 2px;
    outline: 2px solid #0000ff;
}

.form-style-1 .field-divided{
    width: 248px; 
}
.form-style-i li{
    display: block;
}
input{ 
    display: inline-block;
    margin: 5px;
    text-align: center;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
    width: 100%;
}

.form-style-1 .required{
	color:red;
} 

.erreur-404,
.accueil{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.erreur-404{
    margin-top: 5rem;
}
.erreur-404 img,
.accueil img{
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

/*------------ Menu déroulant ------------*/

.dropdown{
    position: relative;
}

.dropdown-content{
    position: absolute;
    display: none;
    top: 50%;
    right: 0;
    width: 100px;
}

.dropdown-content>a{
    font-size: inherit;
    display: block;
    z-index: 99999;
    border-collapse: collapse;
    margin: 0;
    border-top: none;
    background-color: white;
}
.dropdown-content>a:hover{
    color: black;
    border-top: none;
}

.dropdown:hover .dropdown-content{ 
    display: block;
    z-index: 3;
    /*left: 0px;  À cause de la "margin à 2px du .dropdown-content>a à corriger pour l'enligner*/
    right: 0;
}

footer{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
}

.btnVoirCode{
    position: relative;
    margin-top: 2rem;
    padding: 1rem 1.25rem;
    border-radius: 5px;
    background-color:rgba(0, 13, 98, 0.6);
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.btnVoirCode:hover{
    padding: 1rem 1.72rem;
    transition-duration: 500ms;
    background-color:rgba(0, 13, 98, 1);
}

footer h2, 
footer h3{
    margin-bottom: 4rem;
    font-size: 2rem;
}

/*-------- Caroussels ------------*/

.caroussel-portail {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}
.caroussel-portail img{
    max-height: 180px;
    margin-left: auto;
    margin-right: auto;
}
.caroussel-portail .flexVertical{
    padding: 1.5rem;
    /*border: 1px solid rgb(247, 247, 247);*/
    /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;*/
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  /*#1 Source : https://getcssscan.com/css-box-shadow-examples #0 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
.caroussel-portail .flexVertical:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; /* rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    cursor: pointer;
}

.caroussel-portail-liste {
    display: flex;
    flex-direction: column;
}
.caroussel-portail .flexVertical>div{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}
.caroussel-portail>* {
    gap: 1rem;
}
.caroussel-portail dl {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin-top: 1rem;
  }
  .caroussel-portail dt {
    float: left;
    width: 50%;
    padding: 0;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  .caroussel-portail dd {
    float: left;
    text-align: right;
    width: 50%;
    padding: 0;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
  .utilitaire-alinement-bouton-encherir{
    margin: 1.5rem 0 1rem 0;
    text-align: center;
    width: 100%;
  }
  .utilitaire-alinement-bouton-encherir a:hover{
    margin-top: 1rem;
    padding: 0.6rem 1.5rem;
    background-color: rgba(0, 13, 98, 1);
    color: white;
    outline: 1.75px solid rgba(0, 13, 98, 1);
    outline: none;
    font-size: 1.25rem;
  }
  .utilitaire-alinement-bouton-encherir a{
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    transition-duration: 500ms;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.6rem;
    outline: 1.75px solid #0000ff;
    color: rgba(0, 13, 98, 1);
    background-color: white; /*rgba(0, 13, 98, 1);*/
    border-radius: 5px;
    text-align: center;
  }

/*----- Typo carroussel -----*/
.caroussel-portail h2{
    font-size: 1.2rem;
}
.caroussel-portail h3{
    font-size: 1rem;
}
.caroussel-portail .icone{
    width: 30px;
    height: 30px;
    align-self: center;
}
.caroussel-portail .bouton-carte{
    width: auto;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}













